.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0px;
}

.navbar-element {
    list-style: none;
    overflow: hidden;
}

li {
    display: inline-block;
    margin: 5px;
}

#navbar-front li {
    float: left;
}

#navbar-end li {
    float: right;
    top: 0px;
}

.grid {
    position: relative;
    height: 23px;
    bottom: 3px;
}

#sign-in {
    color: white;
    background-color: #4885ed;
    position: relative;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#foogle {
    display: block;
    width: 350px;
    height: auto;
    margin: auto;
}

#search {
    width: 600px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
}

#search:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

#search-bar {
    border: none;

}

#search-buttons {
    display: flex;
    justify-content: center;
}

#search-buttons {
    margin: 1rem;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
}

.search-button:hover {
    border: 1px solid #dcdcdc;
}
.lucky-button:hover {
    border: 1px solid #dcdcdc;
}